git+git://github.com/chunglabmit/blockfs/master/archive.zip#egg=blockfs
matplotlib
numpy
scipy
scikit-image
scikit-learn
PyMaxflow
zarr
h5py
tqdm
pandas
git+git://github.com/chunglabmit/precomputed-tif/master/archive.zip#egg=precomputed-tif
tifffile
lapsolver